@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Kumbh Sans', sans-serif;
}

.shadowBtn {
  -webkit-box-shadow: -1px 15px 22px 3px rgba(255,237,224,1);
-moz-box-shadow: -1px 15px 22px 3px rgba(255,237,224,1);
box-shadow: -1px 15px 22px 3px rgba(255,237,224,1);
}